<!doctype html>
<html lang="en">
  <head>
    {{>header}}
    <link rel="stylesheet" href="/about_us.css">
  </head>
  <body>
    {{>navbar}}

     <div class="about">
        <div class="part1"><img src="/founder.jpeg" alt="founder image" class="f-img"></div>
        <div class="part2"><h1><b></b>ALOK KUMAR JAISWAL</b></h1><h5>(FOUNDER)</h5> A legacy of over 10 years and over 50 thousand customers served – <b>Chandan Opticals’</b>
          humble legacy started with our first retail store back in 2000 at saharsa,Bihar.<br><br>
          Founded by visionary<b> Mr. Alok kumar jaiswal</b>, the company was awarded the ‘Most Admired Retailer’s Award” 
          in 2018 and 2020, followed by winning the coveted title of India’s Most Trusted Brand in 2015. With over 
          10 stores all over India, our newly launched website and Home Service initiative, we offer quality eyewear
          from a variety of both international and home brands.</div>
     </div>
    <h1>--------- Key features ---------</h1>
    <div class="key-f">
      <div class="keys key1"><div class="img"><img src="/key-1.png" alt="" class="key-img"></div><div class="para"><p>Complete eyecare in the comfort of your home/office.</p></div></div>
      <div class="keys key2"><div class="img"><img src="/key-2.png" alt="" class="key-img"></div><div class="para"><p>Authorised dealer of 60+ brands</p></div></div>
      <div class="keys key3"><div class="img"><img src="/key-3.png" alt="" class="key-img"></div><div class="para"><p>1 year warranty on all products</p></div></div>
      <div class="keys key4"><div class="img"><img src="/key-4.png" alt="" class="key-img"></div><div class="para"><p>Quality assurance on prescription lenses</p></div></div>
    </div>

    
 <a href="https://api.whatsapp.com/send?phone=+919262207715&text=Hello " class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
        </a>

      <div class="footer">
        <div class="option opt">store location</div>
        <div class="option opt">about us</div>
        <div class="option opt">term & condition</div>
        <div class="option opt">cancellation & return</div>
        <div class="option opt">privacy policy</div>
        <div class="option opt">faqs</div>
        <div class="option opt">customer care</div>
        
      </div>
      <div class="brand-name" style="font-size: 27px;">chandan optical's</div>
      <div class="social-media">
        <a href="https://instagram.com/anand_om_?utm_medium=copy_link"><i class="fa fa-instagram sicon insta"  arial-hidden="true" style="font-size:30px;;"></i></a>
        <a href="#"><i class="fa fa-facebook-square sicon fb" style="font-size:30px; "></i></a>
        <a href="#"><i class="fa fa-twitter sicon twitter" style="font-size:30px;"></i></a>
          
          
      </div>
      
        <div  id="call">call us : 6201543209</div>
        <div  id="cpr">copyright_icon<i class='far fa-copyright'></i> 2021 chandan opticals .</div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
  </body>
</html>